
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;

  }
  
  h1 {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  form {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #A9A9A9;
    display: inline-block;
    width: 100%;
    max-width: 340px;
    border-radius: 3px;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button {
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: cyan;
    border: none;
    cursor: pointer;
    opacity: .9;
  }
  
  button:hover {
    color: #808080;
  }
  
  button:active {
    box-shadow: none;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  
#centerE{
    margin: auto;
    width: 60%;
    text-align: center;
    
    background-color: #D3D3D3;
    padding: 10px;
    border-radius: 15px;
    
    opacity: 0.6;

}
#displayName{
  text-align: center;
  font-size: medium;
}
