<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Doctors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- import javascript file-->
    <script src="/static/script.js"></script>
    <!-- Your web-app is https, so your scripts need to be too 
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    -->
  </head>  
  <body>
    <div id = "centerE"> 
    <header>
        <h1>
          Doctors
        </h1>
      </header>
  
      <main>
        <p class="bold">Sign in,</p>
        <form action ="#" >
          <input type="text" maxlength="100" name="doctor_id" placeholder="Matthew Kenan">
          <button type="submit">Submit</button>
        </form>
        
      </main>
  
    </div>




  </body>
</html>

