<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Doctors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/style.css">
    <!-- import javascript file-->
    

  </head>  
  <body>
    <div id = "centerE"> 
    <header>
        <h1>
          Doctors
        </h1>
      </header>
  
      <main>
        <p class="bold">Sign in: </p>

        <form action="/locate" method="post">
          <input id="doctorNameInput" type="text" maxlength="100" name="doctor_id" required placeholder="First and Last Name">
          <button id="submit" type="submit"  >Submit</button>
        </form>
        
      </main>
  
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="displayName"> Name: {{doctorName}} <br> Location: {{location}}</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.717833647632!2d-117.07044125719884!3d32.77322084950799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d95685ce726055%3A0x2c7d252716d2450d!2sEureka*21!5e0!3m2!1sen!2sus!4v1587449454557!5m2!1sen!2sus" 
        width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

    <!-- Generate Javascript after website is displayed-->
    <script src="static/script.js"></script>

  </body>
</html>

